/* ==================================== */
/* 3. 首頁區塊 (#home) */
/* ==================================== */
#home {
    background: #333;
    /* 修改這裡：加上 .. 並去掉開頭斜線 */
    background-image: url("../images/P1_01BWG.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* ...其餘不變 */
}

/* ==================================== */
/* 5. 關於我 (#about) & 作品集 (#portfolio) & 聯絡 (#contact) */
/* ==================================== */

/* ...其餘不變 */

/* 設置背景圖片 URL */
#about {
    /* 修改這裡 */
    background-image: url("../images/P2_01BWG.png");
}

#portfolio {
    /* 修改這裡 */
    background-image: url("../images/P3_01BW.png");
}

#contact {
    /* 修改這裡 */
    background-image: url("../images/P4_01BW.png");
}
